.idea
.vscode
.cursor
coverage
dist
node_modules
.nyc_output
types
.npmrc
.yarn/install-state.gz
.scannerwork
__local__
.DS_Store
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/cache